@import "reset.scss";

body {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 320px) {
    .statistics {
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        &__name {
            text-transform: uppercase;
            font-size: 22px;
            font-weight: bold;
            color: #635c73;
            padding: 15px;
            line-height: 25px;
        }
        &__text {
            font-size: 10px;
            color: #5b5b5b;
            line-height: 15px;
            padding: 0 10px;
        }
        &__button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 15px;
            span {
                margin: 5px 9px;
            }
        }
    }
    .info {
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
        &__tittle {
            color: #8d81ac;
            font-weight: 700;
            font-size: 30px;
            padding: 10px;
            line-height: 28px;
        }
        &__list {
            &-item {
                &__detail {
                    p {
                        font-size: 14px;
                        color: #848e97;
                        font-family: 'Lato',sans-serif;
                        line-height: 20px;
                        padding: 20px 15px; 
                    }
                    h5 {
                        font-size: 16px;
                        color: #323232;
                    }
                    span {
                        width: 111px;
                        height: 64px;
                        margin: 10px;
                        display: inline-block;
                        border: 1px solid red;
                    }

                } 
            }
        }
        &__foto {
            position: relative;
            left: 200px;
        }     
    }
//    .imgone {
//        background-image: url(../img/icon1.png);
//    }
//    .imgtwo {
//        background-image: url(../img/icon2.png);
//        }
    .pricing {
        background-color: #4b3b4e;
        &__tittle {
            color: white;
            font-size: 22px;
            font-weight: bold;
            padding: 25px;
            text-align: center;
            line-height: 30px;
        }
        &__block {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .active {
                background-color: #413344;
                width: 290px;
                height: 560px;
                h3 {
                    background-color: #3a2d3d;
                }
            }
            &-info {
                height: 457px;
                width: 257px;
                background-color: #5f5161;
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                &_line {
                    width: 60px;
                    height: 5px;
                    background-color: #8d81ac;
                    display: block;
                }
                &_btn {
                    display: block;
                    width: 160px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: #776b79;
                    text-transform: uppercase;
                    color: white;
                    font-size: 12px;
                    text-align: center;
                    line-height: 40px;
                    margin-bottom: 20px;
                }
//                почему ховер не работает так
//                &_btn:hover {
//                    background-color: #cfcbd0;
//                    color: #7f6d78;
//                }
                &_user {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    width: 100%;
                    background-color: #685b6a;
                    text-transform: uppercase;
                    color: white;
                    
                }
                &_money {
                    font-size: 60px;
                    font-weight: bold;
                    color: white;
                }
                &_month {
                    text-transform: uppercase;
                    color: #8f8691;
                    font-size: 12px;
                }
                &_description {
                    color: white;
                    font-size: 14px;
                    padding: 0px 35px;
                    text-align: center;
                    line-height: 24px;
                }
            }
        }
    } 
}



@media screen and (min-width: 768px) {
    .statistics {
        margin-bottom: 50px;    
        &__name {
            font-size: 30px;
            padding: 30px;
        }
        &__text {
            font-size: 18px;
            line-height: 30px;
            padding: 0 10px;
        }
    }
}








@media screen and (min-width: 1200px) {

}